/* General styling for the recipe container */
.recipes-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Adjust the width of each card */
    gap: 20px; /* Adjust the gap between cards */
    padding: 30px;
    background-color: #0E2B2F;
}

/* Styling for each recipe card */
.recipe-card {
    background-color: #1A3C3F; /* Slightly lighter shade of the background color */
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    position: relative;
    display: flex;
    flex-direction: column;
}

.recipe-card img {
    width: 100%; /* Ensure the image fills the container */
    height: auto; /* Maintain aspect ratio */
    border-radius: 15px 15px 0 0; /* Apply rounded corners to the top */
}

/* Hover effect for recipe cards */
.recipe-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

/* Styling for the recipe information */
.recipe-card h2,
.recipe-card p {
    margin: 10px;
    color: #fff;
}

/* Button styling */
.button {
    align-self: center;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.button:hover {
    background-color: #0056b3;
}
/* Style for the input field for uploading image */
#imageUpload {
    display: none; /* Hide the default input field */
}

.image-upload-label {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.image-upload-label:hover {
    background-color: #0056b3;
}